<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbc.ticketplus.dao.mapper.MovieMapper">
  <resultMap id="BaseResultMap" type="com.lbc.ticketplus.entity.Movie">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="actor" jdbcType="VARCHAR" property="actor" />
    <result column="area" jdbcType="VARCHAR" property="area" />
  </resultMap>


  <sql id="Base_Column_List">
    id, name, price, tag, intro, director, actor, area
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from movie
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.lbc.ticketplus.entity.Movie">
    insert into movie (id, name, price, 
      tag, intro, director, 
      actor, area)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{tag,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, 
      #{actor,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR})
  </insert>

  <insert id="insertWithoutId" parameterType="com.lbc.ticketplus.entity.Movie">
    insert into movie (name, price,
                       tag, intro, director,
                       actor, area)
    values (#{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
            #{tag,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR},
            #{actor,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.lbc.ticketplus.entity.Movie">
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="area != null">
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null">
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>





  <update id="updateByPrimaryKeySelective" parameterType="com.lbc.ticketplus.entity.Movie">
    update movie
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null">
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.lbc.ticketplus.entity.Movie">
    update movie
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      tag = #{tag,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      actor = #{actor,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>